/*general*/
*{
	box-sizing:border-box;
	font-family: 'Quicksand', sans-serif;

}
:root {
	--dark-background: #18191c;
	--text-on-background:#860091;
	--text-on-navbar:white;
}
body{
  background-color:var(--dark-background);
}
/*navbar*/
.navbar{

}
.logo{
	width: 200px;
}
h1{
	color:var(--text-on-background);
}
.nav-link{
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
	color: var(--text-on-background);
	font-size: 1.5em;
	font-weight: 700;
	position: relative;
	top: 5.5px;
}
.invis-link:hover, .invis-link:focus{
	color: var(--text-on-background);
	filter:brightness(0.7);
	text-decoration:none;
}

/*bottom bar*/
.fa, .fa-brands {
  padding: 20px;
  height:40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.fa:hover, .fa-brands:hover{
	color: white;
	opacity: 70%;
	text-decoration: none;
}
.banner-bottom{
	background-color: #00287F;
}
/*main picture*/
#main{
	padding: 0;
}
.main-picture{
	width:100%;
	padding:0;
	margin: 0;
}
.about-header{
	text-align: center;
}
.main-photo{
	width: 100%;
}
.about-content{
	background-image: url("companyphoto.png")
}
